@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
  --color-primary: #9f2b02;
  --color-secondary: #ff8b00;
  --color-accent: white;
}

input,
textarea {
  background-color: white;
}
